*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 200px;
    height: 200px;
}

.Match-list{
    color: black;
    text-decoration: none;
}

.Match-list-btn{
    width: 90px;
    height: 30px;
    background-color: aquamarine;
}

.current-list-btn{
    width: 120px;
    height: 30px;
    position: relative;
    top: 5px;
    background-color: aquamarine;
}

.current-list{
    color: black;
    text-decoration: none;
}